.blog-title {
  outline: none;
  height: auto;
  resize: none;
}

.blog-content {
  height: 60vh;
  resize: none;
}

.app-header {
  cursor: pointer;
  text-decoration: none !important;
  color: black;
}

.app-header:hover {
  color: darkblue;
}
